:root {

  --bg:
    #0f172a;

  --panel:
    #111827;

  --panel-2:
    #1e293b;

  --text:
    #f8fafc;

  --border:
    #334155;

  --primary:
    #2563eb;

}


* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}


body {

  background:
    var(--bg);

  color:
    var(--text);

  font-family:
    sans-serif;

  overflow: hidden;

}


button,
textarea {

  font-family:
    inherit;

}


::-webkit-scrollbar {

  width: 6px;

}


::-webkit-scrollbar-thumb {

  background:
    #334155;

  border-radius: 20px;

}